.news-events h2 {
    font-size: 130px;
    text-transform: uppercase;
    margin: 40px 0;
    text-align: center;
    background-color: #ddd;
}

.upcoming-events {
    margin: 60px 0;
  img {
      width: 100%;
  }
  .event {
      padding-right: 30px;
      font-size: 0;
      width: 31.09%;
    &:last-child {
        padding-right: 0;
    }
  }
}

.icons i {
    margin-right: 10px;
    font-size: 40px;
}
