.news {
    padding: 50px 0;
    img {
        width: 100%;
    }
    .column:first-child {
        font-size: 0;
    }
}

.news-article, .event-details {
    padding: 50px 0;
}

.article-cont {
    padding-left: 30px;
    min-height: 250px;
    h4 {
        margin: 0 0 30px;
        line-height: 1;
    }
}

.article-cont p, .article-text {
    margin-bottom: 40px;
}

.more-info {
    font-family: 'Raleway';
    font-size: 16pt;
    color: #333;
    border: 2px solid #333;
    border-radius: 3px;
    padding: 5px 10px;
    transition: 0.3s;
    &:hover{
        color: #fff;
        background-color: #333;
        transition: 0.3s;
    }
}

.event-page .upcoming-events .row {
    margin-bottom: 50px;
}

.news-article img, .event-details img {
    width: 100%
}
