<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Courses | CAVS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
</head>

<body>
    <div class="page">
        <header>
            <div class="content-header">
                <img class="logo-pic" src="images/logo.png" height="100px">
                <h1>C.A.V.S</h1>
                <nav>
                    <a href="index.html" class="nav-link">home</a>
                    <div class="dropdown">
                        <button onmouseover="myFunction()" class="dropbtn">students</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="student-artwork.html">student artwork</a>
                            <a href="alumni.html">alumni</a>
                        </div>
                    </div>

                    <div class="dropdown2">
                        <button onmouseover="myFunction2()" class="dropbtn2">news & events</button>
                        <div id="myDropdown2" class="dropdown-content2">
                            <a href="news-events.html">news & events</a>
                            <a href="news-events.html">calander</a>
                        </div>
                    </div>

                    <div class="dropdown3">
                        <button onmouseover="myFunction3()" class="dropbtn3">about</button>
                        <div id="myDropdown3" class="dropdown-content3">
                            <a href="courses.html">courses</a>
                            <a href="contact.html">contact us</a>
                            <a href="info.html">info</a>
                        </div>
                    </div>
                </nav>
                <div class="donate">
                    <a href="donate.html" class="donate-btn">donate</a>
                </div>
                <!-- / donate -->
            </div>
            <!-- / content header -->
            <div class="search-header">
                <form class="search-bar">
                    <input id="search-content" type="text" name="search-content" placeholder="&#128269; Search">
                </form>
            </div>
            <!-- / search header -->
        </header>


        <div class="body-background">
            <div class="body-container">
            <h2>C.A.V.S Courses</h2>
            <hr>
            <a href="example-course.html"><div class="course-div1"><p class="course-text">Philosophy and Science of Seeing</p></div></a>
            <a href="example-course.html"><div class="course-div2"><p class="course-text">Art and Culture of Seeing</p></div></a>
            <a href="example-course.html"><div class="course-div3"><p class="course-text">Art Practice and Technology</p></div></a>
            <a href="example-course.html"><div class="course-div4"><p class="course-text">Architecture Practice and Technology</p></div></a>
            </div>
        </div>





        <footer>
            <a href="index.html"><img src="images/logo.png" height="155px"></a>
            <div class="footer-nav">
                <div class="row">
                    <div class="column column-3">
                        <ul>
                            <li><a href="index.html" class="footer-link">home</a></li>
                        </ul>
                    </div>
                    <!-- / column -->
                    <div class="column column-3">
                        <ul>
                            <li><a href="student-artwork.html" class="footer-link">artwork</a></li>
                            <li><a href="alumni.html" class="footer-link">alumni</a></li>
                        </ul>
                    </div>
                    <!-- / column -->
                    <div class="column column-3">
                        <ul>
                            <li><a href="news-events.html" class="footer-link">news & events</a></li>
                            <li><a href="news-events.html" class="footer-link">calender</a></li>
                        </ul>
                    </div>
                    <!-- / column -->
                    <div class="column column-3">
                        <ul>
                            <li><a href="courses.html" class="footer-link">courses</a></li>
                            <li><a href="contact.html" class="footer-link">contact</a></li>
                            <li><a href="info.html" class="footer-link">info</a></li>
                        </ul>
                    </div>
                    <!-- / column -->
                </div>
                <!-- / row -->
            </div>
            <!-- / footer-nav -->
            <ul class="icons">
                <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </ul>
        </footer>
        <div class="copyright">
            <p> &#169; Center of Advanced Visual Studies 2017</p>
        </div>
        <!-- / copyright -->
    </div>
    <!-- / page -->
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        function myFunction2() {
            document.getElementById("myDropdown2").classList.toggle("show2");
        }
        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn2')) {
                var dropdowns = document.getElementsByClassName("dropdown-content2");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show2')) {
                        openDropdown.classList.remove('show2');
                    }
                }
            }
        }

        function myFunction3() {
            document.getElementById("myDropdown3").classList.toggle("show3");
        }
        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn3')) {
                var dropdowns = document.getElementsByClassName("dropdown-content3");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show3')) {
                        openDropdown.classList.remove('show3');
                    }
                }
            }
        }
    </script>
</body>

</html>