<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Donate | CAVS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
</head>

<body>
    <div class="page">
        <header>
            <div class="content-header">
                <img class="logo-pic" src="images/logo.png" height="100px">
                <h1>C.A.V.S</h1>
                <nav>
                    <a href="https://thin-pumpkin.glitch.me" class="nav-link">home</a>
                    <div class="dropdown">
                        <button onmouseover="myFunction()" class="dropbtn">students</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="https://thin-pumpkin.glitch.me/student-artwork">student artwork</a>
                            <a href="https://thin-pumpkin.glitch.me/alumni">alumni</a>
                        </div>
                    </div>

                    <div class="dropdown2">
                        <button onmouseover="myFunction2()" class="dropbtn2">news & events</button>
                        <div id="myDropdown2" class="dropdown-content2">
                            <a href="https://thin-pumpkin.glitch.me/news-events">news & events</a>
                            <a href="https://thin-pumpkin.glitch.me/news-events">calander</a>
                        </div>
                    </div>

                    <div class="dropdown3">
                        <button onmouseover="myFunction3()" class="dropbtn3">about</button>
                        <div id="myDropdown3" class="dropdown-content3">
                            <a href="https://thin-pumpkin.glitch.me/courses">courses</a>
                            <a href="https://thin-pumpkin.glitch.me/contact">contact us</a>
                            <a href="https://thin-pumpkin.glitch.me/info">info</a>
                        </div>
                    </div>
                </nav>
                <div class="donate">
                    <a href="https://thin-pumpkin.glitch.me/donate" class="donate-btn">donate</a>
                </div><!-- / donate -->
            </div><!-- / content header -->
            <div class="search-header">
                <form class="search-bar">
                    <input id="search-content" type="text" name="search-content" placeholder="&#128269; Search">
                </form>
            </div><!-- / search header -->
        </header>

        <div class="holder">
            <section class="donation-box">
            <h2>Donations</h2>
                <form action="">
                    <label for="">$</label>
                    <input type="text" placeholder="Enter Amount Here" name="donationAmount">
                    <input type="submit" value="Donate">
                </form>
            </section><!-- / donation box -->
        </div><!-- / holder -->

        <section class="current-projects">
            <h2>Current Projects</h2>
            <div class="holder">
                <div class="row">
                    <div class="column column-7">
                        <h3>- C.A.V.S Annual Ball</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, deserunt incidunt voluptas blanditiis, id hic, officiis repellat labore aperiam molestias commodi voluptate cupiditate illum nobis, reiciendis laboriosam at nam vero.</p>
                    </div><!-- / column -->
                    <div class="column column-5">
                        <h3>Estimated Costs: $5000</h3>
                    </div><!-- / column -->
                </div><!-- / row -->
                <div class="row">
                    <div class="column column-7">
                        <h3>- Updated Computer Software</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, deserunt incidunt voluptas blanditiis, id hic, officiis repellat labore aperiam molestias commodi voluptate cupiditate illum nobis, reiciendis laboriosam at nam vero.</p>
                    </div><!-- / column -->
                    <div class="column column-5">
                        <h3>Estimated Costs: $1250</h3>
                    </div><!-- / column -->
                </div><!-- / row -->
                <div class="row">
                    <div class="column column-7">
                        <h3>- New Keyboards</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, deserunt incidunt voluptas blanditiis, id hic, officiis repellat labore aperiam molestias commodi voluptate cupiditate illum nobis, reiciendis laboriosam at nam vero.</p>
                    </div><!-- / column -->
                    <div class="column column-5">
                        <h3>Estimated Costs: $500</h3>
                    </div><!-- / column -->
                </div><!-- / row -->
                <div class="row">
                    <div class="column column-7">
                        <h3>- C.A.V.S Second Semester Party</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, deserunt incidunt voluptas blanditiis, id hic, officiis repellat labore aperiam molestias commodi voluptate cupiditate illum nobis, reiciendis laboriosam at nam vero.</p>
                    </div><!-- / column -->
                    <div class="column column-5">
                        <h3>Estimated Costs: $1000</h3>
                    </div><!-- / column -->
                </div><!-- / row -->
                <div class="row">
                    <div class="column column-7">
                        <h3>- Website Maintenance</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, deserunt incidunt voluptas blanditiis, id hic, officiis repellat labore aperiam molestias commodi voluptate cupiditate illum nobis, reiciendis laboriosam at nam vero.</p>
                    </div><!-- / column -->
                    <div class="column column-5">
                        <h3>Estimated Costs: $2500</h3>
                    </div><!-- / column -->
                </div><!-- / row -->
            </div><!-- / holder -->
        </section><!-- / current projects -->

        <section class="why-donate">
            <h2>Why Donate?</h2>
            <div class="holder">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis tempus lectus, a aliquam nisi. Ut sed tempus nunc, quis volutpat nisl. Nam facilisis porttitor scelerisque. Cras magna nunc, luctus id tellus ut, pulvinar mollis lacus. Nam ante augue, congue et hendrerit efficitur, suscipit id nisl. Duis ullamcorper egestas nunc, mollis feugiat risus rutrum in. Mauris tincidunt hendrerit mi ut maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin dui arcu, laoreet id tempus et, mollis nec tellus. In commodo purus at iaculis accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec iaculis, nisl a aliquam mollis, nisi lorem sollicitudin felis, sed sodales orci mi sed orci. Aenean in mauris tellus. In iaculis, nulla non convallis faucibus, orci leo iaculis magna, eu gravida augue ante a tellus. Integer sit amet erat eget lectus sagittis efficitur.</p>
                <p>Maecenas feugiat orci ut erat vestibulum, vitae mattis dui faucibus. Quisque ut justo pulvinar, iaculis purus dictum, consequat neque. Morbi sodales tellus fermentum elit semper, interdum placerat risus congue. Phasellus eget metus tristique, ornare dolor in, molestie ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut ante odio, vulputate sit amet facilisis aliquet, luctus ut justo. Nunc in imperdiet magna, eu tincidunt arcu. Donec imperdiet id sapien sit amet bibendum.</p>
                <p>Quisque et libero a magna fermentum interdum. Nullam tristique eget dui at laoreet. Cras eget nulla et nisl luctus tincidunt. Cras vel purus mattis, venenatis tellus vitae, dapibus libero. Sed iaculis quam mauris, sit amet porta ligula volutpat vitae. Quisque hendrerit lacus non lorem dignissim pharetra. Sed at vehicula quam. Proin imperdiet, libero a rutrum euismod, ipsum erat interdum ante, et sagittis metus est ac ante.</p>
                <p>Integer scelerisque pellentesque ex, ut ornare sapien pretium non. Mauris non leo efficitur, efficitur magna eu, ornare elit. Donec pellentesque ex eget turpis placerat commodo eget vulputate justo. Integer sollicitudin sed orci sed facilisis. Morbi elementum nulla id erat aliquam, id faucibus turpis congue. Ut ac interdum leo. Donec sollicitudin bibendum mi. Aliquam placerat facilisis maximus. Nulla sodales dui quis leo lacinia, eget egestas justo interdum. Aliquam egestas interdum tortor non porta. Phasellus condimentum porta nisi, quis consequat justo porttitor at. Etiam sed fermentum orci. Sed nec bibendum nunc. Integer vestibulum, risus vel malesuada pellentesque, elit dui blandit ante, ac rutrum ipsum dolor non tortor. Fusce porta diam risus, sit amet blandit turpis finibus in.</p>
                <p>Suspendisse euismod molestie quam. Proin semper sapien et magna mattis iaculis. Etiam vehicula, arcu non facilisis rutrum, metus leo placerat mi, iaculis bibendum dolor justo eu quam. Suspendisse potenti. Sed condimentum ultrices pellentesque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam sollicitudin nisi at mauris malesuada hendrerit.</p>
            </div>
        </section>

        <footer>
            <a href="index.html"><img src="images/logo.png" height="155px"></a>
            <div class="footer-nav">
                <div class="row">
                    <div class="column column-3">
                        <ul>
                            <li><a href="index.html" class="footer-link">home</a></li>
                        </ul>
                    </div><!-- / column -->
                    <div class="column column-3">
                        <ul>
                            <li><a href="student-artwork.html" class="footer-link">artwork</a></li>
                            <li><a href="alumni.html" class="footer-link">alumni</a></li>
                        </ul>
                    </div><!-- / column -->
                    <div class="column column-3">
                        <ul>
                            <li><a href="news-events.html" class="footer-link">news & events</a></li>
                            <li><a href="news-events.html" class="footer-link">calender</a></li>
                        </ul>
                    </div><!-- / column -->
                    <div class="column column-3">
                        <ul>
                            <li><a href="courses.html" class="footer-link">courses</a></li>
                            <li><a href="contact.html" class="footer-link">contact</a></li>
                            <li><a href="info.html" class="footer-link">info</a></li>
                        </ul>
                    </div><!-- / column -->
                </div><!-- / row -->
            </div><!-- / footer-nav -->
            <ul class="icons">
                <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </ul>
        </footer>
        <div class="copyright">
            <p> &#169; Center of Advanced Visual Studies 2017</p>
        </div><!-- / copyright -->
    </div><!-- / page -->
  
  <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        function myFunction2() {
            document.getElementById("myDropdown2").classList.toggle("show2");
        }
        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn2')) {
                var dropdowns = document.getElementsByClassName("dropdown-content2");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show2')) {
                        openDropdown.classList.remove('show2');
                    }
                }
            }
        }

        function myFunction3() {
            document.getElementById("myDropdown3").classList.toggle("show3");
        }
        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn3')) {
                var dropdowns = document.getElementsByClassName("dropdown-content3");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show3')) {
                        openDropdown.classList.remove('show3');
                    }
                }
            }
        }
    </script>
</body>

</html>