<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Info | CAVS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
</head>

<body>
    <div class="page">
        <header>
            <div class="content-header">
                <img class="logo-pic" src="images/logo.png" height="100px">
                <h1>C.A.V.S</h1>
                <nav>
                    <a href="https://thin-pumpkin.glitch.me" class="nav-link">home</a>
                    <div class="dropdown">
                        <button onmouseover="myFunction()" class="dropbtn">students</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="https://thin-pumpkin.glitch.me/student-artwork">student artwork</a>
                            <a href="https://thin-pumpkin.glitch.me/alumni">alumni</a>
                        </div>
                    </div>

                    <div class="dropdown2">
                        <button onmouseover="myFunction2()" class="dropbtn2">news & events</button>
                        <div id="myDropdown2" class="dropdown-content2">
                            <a href="https://thin-pumpkin.glitch.me/news-events">news & events</a>
                            <a href="https://thin-pumpkin.glitch.me/news-events">calander</a>
                        </div>
                    </div>

                    <div class="dropdown3">
                        <button onmouseover="myFunction3()" class="dropbtn3">about</button>
                        <div id="myDropdown3" class="dropdown-content3">
                            <a href="https://thin-pumpkin.glitch.me/courses">courses</a>
                            <a href="https://thin-pumpkin.glitch.me/contact">contact us</a>
                            <a href="https://thin-pumpkin.glitch.me/info">info</a>
                        </div>
                    </div>
                </nav>
                <div class="donate">
                    <a href="https://thin-pumpkin.glitch.me/donate" class="donate-btn">donate</a>
                </div><!-- / donate -->
            </div><!-- / content header -->
            <div class="search-header">
                <form class="search-bar">
                    <input id="search-content" type="text" name="search-content" placeholder="&#128269; Search">
                </form>
            </div><!-- / search header -->
        </header>
        <div class="body-background">
            <div class="body-container">
                <h2>History of C.A.V.S</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis dolor ac risus molestie hendrerit. Maecenas
                    placerat fringilla convallis. Nulla sit amet sapien ac enim porta efficitur. Duis enim dolor, mollis
                    eu arcu quis, tristique congue sapien. Quisque a purus tincidunt, iaculis mauris a, suscipit dolor. Proin
                    dapibus quam lorem, quis iaculis est gravida ut. Integer accumsan at lacus a laoreet. Cras facilisis
                    nibh enim, eget ultrices libero rhoncus aliquam. Integer ac quam risus. Pellentesque tempor ultrices
                    aliquam. Pellentesque accumsan sapien sapien, vitae tincidunt elit dapibus vitae. Aenean vel elit a diam
                    efficitur condimentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas venenatis
                    imperdiet efficitur. Donec molestie ac velit non fermentum. Vestibulum efficitur auctor placerat. Vestibulum
                    nunc nibh, blandit sed viverra eu, eleifend eu risus. Ut cursus luctus leo, eget ultrices nunc varius
                    non. Donec vestibulum, nibh non malesuada vehicula, erat augue sollicitudin lectus, sed ultrices lacus
                    odio at sem. Nam vehicula vehicula purus ornare lobortis. Aliquam at justo in sem dapibus sollicitudin.
                    Nulla malesuada, diam vitae varius tempus, purus nibh luctus erat, venenatis accumsan lacus felis ac
                    mi. Cras ullamcorper porta quam, id pellentesque elit vestibulum elementum. Aenean congue lacinia ligula,
                    a venenatis purus molestie sed. Integer volutpat egestas sem, ac molestie nisl rhoncus eu. Duis vestibulum
                    ut metus id imperdiet. Phasellus sed arcu ultricies, varius dolor vel, tincidunt dui. Proin justo neque,
                    luctus nec accumsan vitae, semper vitae augue. Duis dignissim, ligula at posuere hendrerit, risus diam
                    cursus nisl, sit amet vehicula elit lectus non quam. Phasellus sit amet mi neque. Mauris nec pharetra
                    sem. Etiam at lorem volutpat, ultrices enim quis, pulvinar nisl. Fusce ut nibh consequat, hendrerit odio
                    et, tristique erat. Pellentesque tristique gravida sem at mattis. Curabitur congue malesuada elementum.</p>
                <div class="info-img">
                <img src="images/student-1.jpg" width="90%">
                <div class="img-desc">
                    <p class="img-text">Students sharing a laugh, 1926</p>
                </div>
                </div>
                <p>Maecenas dignissim, ex in blandit convallis, enim augue lobortis metus, sed tempor risus quam vitae leo.
                    Proin sit amet diam et ligula auctor hendrerit. In eros lacus, gravida ut semper et, efficitur vitae
                    arcu. Nullam iaculis facilisis nunc nec varius. Curabitur molestie, tortor quis viverra consequat, purus
                    felis convallis enim, ut cursus purus felis quis odio. Cras euismod ornare imperdiet. Sed eget nisi quis
                    eros sollicitudin malesuada. Praesent ullamcorper velit nec sem semper cursus. Nunc viverra ultricies
                    condimentum. Proin consectetur faucibus arcu ut tincidunt. Pellentesque bibendum consequat leo in tempor.
                    Etiam rhoncus velit congue ligula tristique lacinia. Duis vel erat libero. Etiam non lobortis elit. Phasellus
                    in rhoncus nulla. Morbi in luctus nunc. In rutrum mollis ante nec accumsan. Etiam eget mauris vel nunc
                    rutrum tempor ac id sem. Integer nec purus efficitur, vulputate libero non, eleifend odio. Curabitur
                    egestas felis est, ac pharetra dolor vulputate non. Donec sed diam sed tellus egestas auctor sit amet
                    vel nisl. Nulla dictum rhoncus dolor eu fringilla. Integer convallis, enim non rutrum pulvinar, mi libero
                    semper mi, nec semper arcu metus aliquam massa. Duis sollicitudin scelerisque libero. Pellentesque sapien
                    elit, pellentesque eu sapien ac, volutpat ornare neque. Pellentesque vulputate molestie elit sit amet
                    aliquet. Sed nisl velit, efficitur sed ipsum quis, imperdiet venenatis orci. Suspendisse potenti. Integer
                    sollicitudin porta felis non commodo. Phasellus vitae convallis ex, nec pharetra erat. Nam quis orci
                    nec purus faucibus tempor. Morbi sed ante nec felis pharetra rutrum ut id ante. Maecenas dolor augue,
                    placerat id aliquet non, ornare quis nibh. Fusce ex arcu, gravida vitae aliquet et, lobortis at ante.</p>
                <div class="info-img">
                <img src="images/university-1.jpeg" width="90%">
                <div class="img-desc">
                    <p class="img-text">The Commissioner's House, 1962</p>
                </div>
                </div>
                <p>Proin dictum feugiat ultricies. Pellentesque sed commodo sem, eu venenatis lorem. Aliquam porttitor elit
                    ut dui gravida, vitae lacinia justo dapibus. Phasellus luctus aliquam nisi, sed dapibus tortor gravida
                    a. Etiam semper lacus felis, vel facilisis enim eleifend nec. Duis risus quam, malesuada sed mauris non,
                    imperdiet feugiat felis. Maecenas nec aliquet nibh. Donec at diam odio. Sed interdum nibh ipsum, at accumsan
                    lorem sagittis ac. Sed vulputate magna id sapien gravida interdum. Vestibulum posuere eros sit amet laoreet
                    malesuada. Morbi at dui eget enim cursus posuere non quis sapien. Morbi facilisis arcu vitae risus auctor
                    fermentum. Sed sit amet lacus nisi. Donec auctor vel risus id placerat. Vestibulum porta sed risus varius
                    molestie. Mauris vestibulum venenatis erat, sit amet suscipit nisi rhoncus vulputate. Proin sit amet
                    bibendum sem, sit amet aliquet sem. Praesent laoreet, nisi et sodales feugiat, risus mauris mollis diam,
                    in accumsan purus urna sed eros. Duis elementum tincidunt nibh eu cursus. Integer malesuada scelerisque
                    ornare. Nulla egestas lacus enim. Maecenas iaculis orci nisi, et vehicula nunc aliquam quis. Suspendisse
                    faucibus ligula sit amet porttitor rutrum. Nam nec purus at urna lobortis maximus. Integer vitae sem
                    arcu. Sed pretium, ex sed tincidunt tincidunt, leo nunc maximus mi, nec vehicula nunc nisl rhoncus odio.</p>

                <p>Nunc laoreet erat enim, ac fringilla velit laoreet nec. Etiam sed dignissim mauris. Fusce laoreet justo vel
                    urna facilisis consectetur. Nullam ut sapien ac elit congue efficitur. Pellentesque pretium diam ut consectetur
                    molestie. Etiam nec accumsan ex. Proin hendrerit magna sit amet mi suscipit convallis. Etiam consequat
                    arcu a quam auctor auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos. Integer euismod et diam et vestibulum. Maecenas nec porta mauris. Pellentesque posuere porttitor
                    magna a gravida. Sed efficitur pulvinar maximus. Etiam ultrices fermentum diam, at dictum quam vulputate
                    nec. Suspendisse posuere ante in neque placerat semper. Nam nibh elit, ultrices in mi non, posuere iaculis
                    erat. Curabitur lacinia augue velit, in egestas elit cursus vitae. Suspendisse potenti. Nullam a est
                    et neque ullamcorper auctor a id mauris. Praesent quis magna at turpis mollis volutpat. Pellentesque
                    commodo mauris ante, sed tristique ipsum aliquet non. Nunc a velit facilisis, scelerisque ipsum ac, scelerisque
                    dolor. Duis tincidunt tortor a metus fermentum pharetra. Vestibulum vitae neque eget lorem euismod tristique.</p>
            </div>
        </div>





        <footer>
            <a href="index.html"><img src="images/logo.png" height="155px"></a>
            <div class="footer-nav">
                <div class="row">
                    <div class="column column-3">
                        <ul>
                            <li><a href="index.html" class="footer-link">home</a></li>
                        </ul>
                    </div>
                    <!-- / column -->
                    <div class="column column-3">
                        <ul>
                            <li><a href="student-artwork.html" class="footer-link">artwork</a></li>
                            <li><a href="alumni.html" class="footer-link">alumni</a></li>
                        </ul>
                    </div>
                    <!-- / column -->
                    <div class="column column-3">
                        <ul>
                            <li><a href="news-events.html" class="footer-link">news & events</a></li>
                            <li><a href="news-events.html" class="footer-link">calender</a></li>
                        </ul>
                    </div>
                    <!-- / column -->
                    <div class="column column-3">
                        <ul>
                            <li><a href="courses.html" class="footer-link">courses</a></li>
                            <li><a href="contact.html" class="footer-link">contact</a></li>
                            <li><a href="info.html" class="footer-link">info</a></li>
                        </ul>
                    </div>
                    <!-- / column -->
                </div>
                <!-- / row -->
            </div>
            <!-- / footer-nav -->
            <ul class="icons">
                <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </ul>
        </footer>
        <div class="copyright">
            <p> &#169; Center of Advanced Visual Studies 2017</p>
        </div>
        <!-- / copyright -->
    </div>
    <!-- / page -->
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        function myFunction2() {
            document.getElementById("myDropdown2").classList.toggle("show2");
        }
        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn2')) {
                var dropdowns = document.getElementsByClassName("dropdown-content2");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show2')) {
                        openDropdown.classList.remove('show2');
                    }
                }
            }
        }

        function myFunction3() {
            document.getElementById("myDropdown3").classList.toggle("show3");
        }
        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn3')) {
                var dropdowns = document.getElementsByClassName("dropdown-content3");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show3')) {
                        openDropdown.classList.remove('show3');
                    }
                }
            }
        }
    </script>
</body>

</html>